body {
  min-height: 100%;
}

#container-1__elem1,
#container-1__elem2,
#container-1__elem3 {
  width: 50px;
  height: 50px;
  position: absolute;
}
#container-1__elem1 {
  border: 1px solid red;
  left: 30px;
  top: 30px;
}
#container-1__elem2 {
  border: 1px solid blue;
  left: 100px;
  top: 100px;
}
#container-1__elem3 {
  border: 1px solid green;
  left: 170px;
  top: 170px;
}
/*/////////////////////////////////////////////*/
.container-2 {
  position: absolute;
  left: 300px;
}
#container-2__elem1,
#container-2__elem2,
#container-2__elem3 {
  width: 50px;
  height: 50px;
  position: absolute;
}
#container-2__elem1 {
  border: 1px solid red;
  left: 30px;
}
#container-2__elem2 {
  border: 1px solid blue;
  left: 100px;
}
#container-2__elem3 {
  border: 1px solid green;
  left: 170px;
}
/*/ ////////////////////////////////////////////*/
.container-3 {
  position: absolute;
  left: 600px;
}
#container-3__elem1,
#container-3__elem2,
#container-3__elem3 {
  width: 50px;
  height: 50px;
  position: absolute;
}
#container-3__elem1 {
  border: 1px solid red;
  left: 30px;
  top: 30px;
}
#container-3__elem2 {
  border: 1px solid blue;
  left: 60px;
  top: 60px;
}
#container-3__elem3 {
  border: 1px solid green;
  left: 90px;
  top: 90px;
}
/*/ ////////////////////////////////////////////*/
.container-4 {
  position: absolute;
  top: 300px;
}
#container-4__elem1,
#container-4__elem2,
#container-4__elem3 {
  width: 50px;
  height: 50px;
  position: absolute;
}
#container-4__elem1 {
  border: 1px solid red;
  left: 30px;
  top: 30px;
  background-color: red;
}
#container-4__elem2 {
  border: 1px solid blue;
  left: 60px;
  top: 60px;
  background-color: blue;
}
#container-4__elem3 {
  border: 1px solid green;
  left: 90px;
  top: 90px;
  background-color: green;
}
/*/ ////////////////////////////////////////////*/
.container-5 {
  position: absolute;
  top: 300px;
  left: 300px;
}
#container-5__elem1,
#container-5__elem2,
#container-5__elem3 {
  width: 50px;
  height: 50px;
  position: absolute;
}
#container-5__elem1 {
  border: 1px solid red;
  left: 30px;
  top: 30px;
  background-color: red;
}
#container-5__elem2 {
  border: 1px solid blue;
  left: 60px;
  top: 60px;
  background-color: blue;
  z-index: 1;
}
#container-5__elem3 {
  border: 1px solid green;
  left: 90px;
  top: 90px;
  background-color: green;
}
/*/ ////////////////////////////////////////////*/
.container-6 {
  position: absolute;
  top: 300px;
  left: 600px;
}
#container-6__elem1,
#container-6__elem2,
#container-6__elem3 {
  width: 50px;
  height: 50px;
  position: absolute;
}
#container-6__elem1 {
  border: 1px solid red;
  left: 30px;
  top: 30px;
  background-color: red;
  z-index: 1;
}
#container-6__elem2 {
  border: 1px solid blue;
  left: 60px;
  top: 60px;
  background-color: blue;
}
#container-6__elem3 {
  border: 1px solid green;
  left: 90px;
  top: 90px;
  background-color: green;
  z-index: 1;
}
/*/ ////////////////////////////////////////////*/
.container-7 {
  position: absolute;
  top: 600px;
}
#container-7__elem1,
#container-7__elem2,
#container-7__elem3 {
  width: 50px;
  height: 50px;
  position: absolute;
}
#container-7__elem1 {
  border: 1px solid red;
  left: 30px;
  top: 30px;
  background-color: red;
  z-index: 2;
}
#container-7__elem2 {
  border: 1px solid blue;
  left: 60px;
  top: 60px;
  background-color: blue;
  z-index: 1;
}
#container-7__elem3 {
  border: 1px solid green;
  left: 90px;
  top: 90px;
  background-color: green;
  z-index: 0;
}
/*/ ////////////////////////////////////////////*/
.container-8 {
  position: absolute;
  top: 900px;
}
.container-8__elements {
  position: relative;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid green;
}
#container-8__elem1 {
  border: 1px solid red;
  position: absolute;
  left: 100px;
  top: 100px;
  width: 100px;
  height: 100px;
}

/*/ ////////////////////////////////////////////*/
.container-9 {
  position: absolute;
  top: 900px;
  left: 550px;
}
.container-9__elements {
  position: relative;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid green;
  background-color: green;
}
#container-9__elem1 {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 100px;
  height: 100px;
  background-color: white;
}
#container-9__elem2 {
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: 100px;
  height: 100px;
  background-color: white;
}
/*/ ////////////////////////////////////////////*/
.container-10 {
  position: absolute;
  top: 1400px;
}
.container-10__elements {
  position: relative;
  width: 200px;
  height: 430px;
  margin: 0 auto;
  border: 1px solid black;
}
#container-10__elem1 {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 100px;
  height: 100px;
  background-color: red;
  border: 1px solid black;
  border-radius: 50px;
}
#container-10__elem2 {
  position: absolute;
  left: 50px;
  top: 160px;
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  border-radius: 50px;
}
#container-10__elem3 {
  position: absolute;
  left: 50px;
  top: 270px;
  width: 100px;
  height: 100px;
  background-color: green;
  border: 1px solid black;
  border-radius: 50px;
}
/*/ ////////////////////////////////////////////*/
.container-11 {
  position: absolute;
  top: 1400px;
  left: 400px;
}
.container-11__elements {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: green;
  border: 1px solid green;
  border-radius: 50%;
}
#container-11__elem1 {
  position: absolute;
  left: 50px;
  top: 70px;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50px;
}
#container-11__elem2 {
  position: absolute;
  right: 50px;
  top: 70px;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50px;
}
#container-11__elem3 {
  position: absolute;
  left: 160px;
  top: 170px;
  width: 80px;
  height: 80px;
  background-color: white;
}
#container-11__elem4 {
  position: absolute;
  left: 120px;
  bottom: 50px;
  width: 160px;
  height: 10px;
  background-color: white;
}
/*/ ////////////////////////////////////////////*/
.container-12 {
  position: absolute;
  top: 1900px;
}
.container-12__elements {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: yellow;
  border: 1px solid yellow;
  border-radius: 50%;
}
#container-12__elem1 {
  position: absolute;
  left: 50px;
  top: 70px;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50px;
}
#container-12__elem2 {
  position: absolute;
  right: 50px;
  top: 70px;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50px;
}

#container-12__elem3 {
  position: absolute;
  left: 160px;
  top: 170px;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50px;
}

#container-12__elem4 {
  position: absolute;
  left: 120px;
  bottom: 50px;
  width: 160px;
  height: 10px;
  background-color: #7b2121;
  border-radius: 50%;
  transform-origin: center left;
  /*clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);*/
}

/*--------------------------------------------------------*/
.container-12 {
  position: absolute;
  top: 1900px;
}
.container-12__elements {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: yellow;
  border: 1px solid yellow;
  border-radius: 50%;
}
#container-12__elem1 {
  position: absolute;
  left: 50px;
  top: 70px;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50px;
  z-index: 5;
}
#container-12__elem2 {
  position: absolute;
  right: 50px;
  top: 70px;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50px;
  z-index: 5;
}

/*#container-12__elem3 {
  position: absolute;
  left: 160px;
  top: 170px;
  width: 80px;
  height: 80px;
  background-color: rgb(98, 165, 39);
  border-radius: 50px;
}*/
.smile {
}
.noise {
  background-color: #ffffff;
  position: absolute;
  left: 165px;
  top: 200px;
  width: 70px;
  height: 70px;
  z-index: 5;
  border-radius: 35px;
}
.mouth1 {
  background-color: #ffffff;
  position: absolute;
  left: 100px;
  top: 155px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  z-index: 1;
}
.mouth2 {
  background-color: yellow;
  position: absolute;
  left: 50px;
  top: 30px;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  z-index: 2;
}
/*============================================*/
.container-13 {
  position: absolute;
  top: 2400px;
  left: 10%;
  width: 100px;
  height: 100px;
}
.container-14 {
  position: absolute;
  top: 2400px;
  left: 20%;
  width: 100px;
  height: 100px;
}
.container-smile {
  position: absolute;
  top: 2400px;
  left: 30%;
  width: 100px;
  height: 100px;
}

body {
  margin: 0px;
  color: #76214b;
}
#fixed {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: #b43273;
  text-align: center;
  line-height: 50px;
  font-size: 21px;
  color: white;
  border-top: 1px solid #76214b;
}
#text {
  width: 600px;
  margin: 10px auto 60px auto;
  padding: 20px;
  border: 1px solid #b43273;
  border-radius: 20px 20px 0px 0px;
}
h1 {
  margin: 0px;
  color: #b43273;
}

/*//////////////////////////////////////////*/
body {
  margin: 0px;
  color: #76214b;
}
#fixed-2 {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: #c4cd14;
  text-align: center;
  line-height: 50px;
  font-size: 21px;
  color: white;
  border-top: 1px solid #c4cd14;
}
.main {
  padding-top: 50px;
}
#text-2 {
  width: 600px;
  margin: 10px auto 60px auto;
  padding: 20px;
  border: 1px solid #b43273;
  border-radius: 20px 20px 0px 0px;
}
h1 {
  margin: 0px;
  color: #b43273;
}
