body {
  height: 250px;
}

#container-1__elem1,
#container-1__elem2,
#container-1__elem3 {
  width: 50px;
  height: 50px;
  position: absolute;
}
#container-1__elem1 {
  border: 1px solid red;
  left: 30px;
  top: 30px;
}
#container-1__elem2 {
  border: 1px solid blue;
  left: 100px;
  top: 100px;
}
#container-1__elem3 {
  border: 1px solid green;
  left: 170px;
  top: 170px;
}
/*/////////////////////////////////////////////*/
.container-2 {
  position: absolute;
  left: 300px;
}
#container-2__elem1,
#container-2__elem2,
#container-2__elem3 {
  width: 50px;
  height: 50px;
  position: absolute;
}
#container-2__elem1 {
  border: 1px solid red;
  left: 30px;
}
#container-2__elem2 {
  border: 1px solid blue;
  left: 100px;
}
#container-2__elem3 {
  border: 1px solid green;
  left: 170px;
}
/*/ ////////////////////////////////////////////*/
.container-3 {
  position: absolute;
  left: 600px;
}
#container-3__elem1,
#container-3__elem2,
#container-3__elem3 {
  width: 50px;
  height: 50px;
  position: absolute;
}
#container-3__elem1 {
  border: 1px solid red;
  left: 30px;
  top: 30px;
}
#container-3__elem2 {
  border: 1px solid blue;
  left: 60px;
  top: 60px;
}
#container-3__elem3 {
  border: 1px solid green;
  left: 90px;
  top: 90px;
}
/*/ ////////////////////////////////////////////*/
.container-4 {
  position: absolute;
  top: 300px;
}
#container-4__elem1,
#container-4__elem2,
#container-4__elem3 {
  width: 50px;
  height: 50px;
  position: absolute;
}
#container-4__elem1 {
  border: 1px solid red;
  left: 30px;
  top: 30px;
  background-color: red;
}
#container-4__elem2 {
  border: 1px solid blue;
  left: 60px;
  top: 60px;
  background-color: blue;
}
#container-4__elem3 {
  border: 1px solid green;
  left: 90px;
  top: 90px;
  background-color: green;
}
/*/ ////////////////////////////////////////////*/
.container-5 {
  position: absolute;
  top: 300px;
  left: 300px;
}
#container-5__elem1,
#container-5__elem2,
#container-5__elem3 {
  width: 50px;
  height: 50px;
  position: absolute;
}
#container-5__elem1 {
  border: 1px solid red;
  left: 30px;
  top: 30px;
  background-color: red;
}
#container-5__elem2 {
  border: 1px solid blue;
  left: 60px;
  top: 60px;
  background-color: blue;
  z-index: 1;
}
#container-5__elem3 {
  border: 1px solid green;
  left: 90px;
  top: 90px;
  background-color: green;
}
/*/ ////////////////////////////////////////////*/
.container-6 {
  position: absolute;
  top: 300px;
  left: 600px;
}
#container-6__elem1,
#container-6__elem2,
#container-6__elem3 {
  width: 50px;
  height: 50px;
  position: absolute;
}
#container-6__elem1 {
  border: 1px solid red;
  left: 30px;
  top: 30px;
  background-color: red;
  z-index: 1;
}
#container-6__elem2 {
  border: 1px solid blue;
  left: 60px;
  top: 60px;
  background-color: blue;
}
#container-6__elem3 {
  border: 1px solid green;
  left: 90px;
  top: 90px;
  background-color: green;
  z-index: 1;
}
/*/ ////////////////////////////////////////////*/
.container-7 {
  position: absolute;
  top: 600px;
}
#container-7__elem1,
#container-7__elem2,
#container-7__elem3 {
  width: 50px;
  height: 50px;
  position: absolute;
}
#container-7__elem1 {
  border: 1px solid red;
  left: 30px;
  top: 30px;
  background-color: red;
  z-index: 2;
}
#container-7__elem2 {
  border: 1px solid blue;
  left: 60px;
  top: 60px;
  background-color: blue;
  z-index: 1;
}
#container-7__elem3 {
  border: 1px solid green;
  left: 90px;
  top: 90px;
  background-color: green;
  z-index: 0;
}
/*/ ////////////////////////////////////////////*/
.container-8 {
position: absolute;
top: 900px;
}
.container-8__elements{
  position: relative;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid green;
}
#container-8__elem1{
  border: 1px solid red;
  position: absolute; 
  left: 100px;
  top: 100px;
  width: 100px;
  height: 100px;
}

/*/ ////////////////////////////////////////////*/
.container-9 {
  position: absolute;
  top: 300px;
  left: 300px;
}
#container-9__elem1,
#container-9__elem2,
#container-9__elem3 {
  width: 50px;
  height: 50px;
  position: absolute;
}
#container-9__elem1 {
  border: 1px solid red;
  left: 30px;
  top: 30px;
  background-color: red;
}
#container-9__elem2 {
  border: 1px solid blue;
  left: 60px;
  top: 60px;
  background-color: blue;
  z-index: 1;
}
#container-9__elem3 {
  border: 1px solid green;
  left: 90px;
  top: 90px;
  background-color: green;
}
