body {
  background-color: rgb(223, 136, 136);
}
.table__content {
  border: 6px outset #fefdfd;
  text-align: left;
  max-width: 600px;
  min-height: 300px;

  /*box-shadow: 0 0 0px 6px #ccc;*/
}
.table__content tr,
td,
th {
  /*border: 1px solid grey;*/
  padding: 3px; /* Поля вокруг содержимого ячеек */
  border: 2px groove #fefdfd; /* Граница между ячейками */
}

.content-title__two,
.content-title__one {
  background-color: #b06760;
}
.text {
  color: #ccc;
  font-weight: 900;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #69108a;
}
